/*Hero links mit togglebarem inventar, anzeige für 4 grundwerte, gold, rationen. name titel*/

.links {
       height: clamp(135px, 44vh, 48vh);
    width: clamp(85px, 23.5vw, 32vw);
    display: table;
    text-align: center;
    color: #ffffff;
    border-radius: 10%;
    background-color: #6f6e74b6;
    background-image: url("https://dl.dropbox.com/scl/fi/noxaofxhutv9gu9uman4n/diffuse-the-rest-88-2.png?rlkey=q6ybvgowbyjkgemqt0t7m5f52&dl=0");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-size: clamp(12px, 2.2vh, 3.5vh);
    font-weight: 750;
    margin-left: 1vw;
    margin-right: 1.5vw;
    padding-bottom: clamp(10.5px, 2.1vh, 2.5vh);
    border: solid 2.5px rgba(151, 156, 163, 0.762);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.inventarHead {
 height: clamp(55px, 20vh, 33.5vh);
    width: clamp(45px, 22vw, 23vw);
    margin-top: clamp(10.5px, 2.1vh, 2.5vh);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    align-self: center;
    text-align: center;
    justify-self: center;
    font-size: 2.5vh;
}

.inventar {
    height: clamp(50px, 19.5vh, 33.5vh);
    width: clamp(40px, 12.5vw, 23vw);
    display: grid;
    grid-template-rows: repeat(3, 8.0vh);
    row-gap: 5px;
    grid-template-columns: repeat(2, 5.1vw);
    justify-content: center;
    align-content: center;
    background-image: url("https://dl.dropbox.com/scl/fi/jcdhhvbpurztga1d3q7lb/dsa.png?rlkey=24zeexxo4h5wmy0pzf66n3021&dl=0");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.inventar-item {
    height: 5.5vh;
    width: 3.5vw;
    display: flex;
    color: rgb(0, 0, 0);
    align-self: center;
    justify-self: center;
    margin-top: 14.5vh;
    border: 0.5px ridge rgba(63, 44, 3, 0.178);
}

.inventar-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.inventar-item:focus,
.inventar-item:hover {
    border-color: yellow;
    outline: none;
}
    .iconwrapper {
            height: clamp(13.5px, 4.3vh, 5.5vh);
            width: clamp(23.5px, 6.5vw, 8.5vw);
            margin-top: clamp(3px, 0.4vh, 1.5vh);
            margin-bottom: clamp(9px, 1.4vh, 2.5vh);
            align-content: center;
            align-items: center;
            justify-items: center;
            text-align: center;
            justify-content: space-evenly;
            font-size: clamp(14px, 2.4vh, 3.5vh);
            display: inline-block;
            background-image: url("https://dl.dropbox.com/scl/fi/s2eqc9n24xqprh4cmrzz2/plakette2-removebg-preview.png?rlkey=50b1giqx7l6ee1e94jyhybe68&dl=0");
            background-size: 100% 100%;
        }
.walletIcon {
    height: 2.8vh;
    width: 1.5vw;
    margin-top: 1.2vh;
    margin-left: -1.1vw;
    background-image: url("https://dl.dropbox.com/scl/fi/iw2x80tlnkuthz6cudvt8/Coin.png?rlkey=68rhbacrjtvxcawupqo3cypx1&dl=0");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.walletText {
    height: 3.3vh;
    width: 3.0vw;
    margin-left: -0.9vw;
    margin-right: 1.0vw;
    font-size: 2.8vh;
    font-weight: 777;
    display: inline-block;
}

.rationIcon {
    height: 2.8vh;
    width: 1.5vw;
    margin-top: 1.2vh;
    margin-left: -1.5vw;
    background-image: url("https://dl.dropbox.com/scl/fi/qcna317ped0sk3swo42mh/marker-nahrung.PNG?rlkey=p4v13qjskk3kltd7vrpv1nlr0&dl=0");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.rationText {
    height: 3.3vh;
    width: 3.2vw;
    margin-left: 0.5vw;
    margin-right: 1.0vw;
    font-size: 2.8vh;
    font-weight: 777;
    display: inline-block;
}

.Hero {  height: clamp(25.5px, 20.5vh, 38.5vh);
            width: clamp(40.5px, 15.5vw, 18.5vw);
  
    position: relative;
    color: rgb(247, 247, 247);
    text-decoration: underline overline;
    font-weight: 777;
    border-color: rgba(182, 182, 182, 0.845);
    border-width: 2.5px;
    border-style: solid;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    border-radius: 100%;
    background-image: url("https://dl.dropbox.com/s/mimlbldehzz94sd/char3%203.jpg?dl=0");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.avatar-corner {
    position: absolute;
    height: 6.5vh;
    width: 5.8vw;
    background-color: #7c777700;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.imgLp {
    height: 4.7vh;
    width: 1.8vw;
    background-image: url("https://dl.dropbox.com/scl/fi/x189pyk1hn12whbirwyf3/lebenspunkte.png?rlkey=32dppnf2u6a3vowc00uai8yci&dl=0");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.imgDef {
    height: 6.1vh;
    width: 3.0vw;
    background-image: url("https://dl.dropbox.com/scl/fi/8hjmv1n2r25ut7f6u5tlp/schild2.png?rlkey=rz76rtkw78ospcx9y388klmct&dl=0");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.top-left {
    top: 0;
    left: 0;
    margin-top: -2vh;
    margin-left: -2.6vw;
}

.top-right {
    top: 0;
    right: 0;
    margin-top: -2vh;
    margin-right: -2.3vw;
}

.bottom-left {
    bottom: 0;
    left: 0;
    margin-bottom: -2vh;
    margin-left: -2.0vw;
}

.bottom-right {
    bottom: 0;
    right: 0;
    margin-bottom: -2.5vh;
    margin-right: -2.0vw;
}

.corner-icon {
    margin-left: 4px;
    display: inline-block;
}

.imgHit {
    height: 5.8vh;
    width: 2.8vw;
    margin-left: -1px;
    background-image: url("https://dl.dropbox.com/scl/fi/se3b11ylydfytwtuat9f9/depositphotos_318054136-stock-illustration-vector-realistic-eye-ball-green-removebg-preview.png?rlkey=kv4qdot9d63o068q2m033qbn8&dl=0https://www.dropbox.com/scl/fi/se3b11ylydfytwtuat9f9/depositphotos_318054136-stock-illustration-vector-realistic-eye-ball-green-removebg-preview.png?rlkey=kv4qdot9d63o068q2m033qbn8&dl=0");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.imgDef {
    height: 6.3vh;
    width: 3.0vw;
    margin-left: -2px;
    background-image: url("https://dl.dropbox.com/scl/fi/8hjmv1n2r25ut7f6u5tlp/schild2.png?rlkey=rz76rtkw78ospcx9y388klmct&dl=0");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.imgDmg {
    height: 6.0vh;
    width: 3.7vw;
    margin-left: -4px;
    background-image: url("https://dl.dropbox.com/scl/fi/ot3uf0hm3035blizmxyap/sword_icon.png?rlkey=iobjdbq5wk13c4aib2adkb32u&dl=0");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.corner-number {
    font-size: 2.6vh;
    font-weight: 800;
    font-weight: bold;
}

.heroName {
    height: clamp(11.5px, 2.3vh, 2.5vh);
width: clamp(65px, 22vw, 29vw);
    margin-top:clamp(3.5px, 0.3vh, 1.5vh);
    color: rgb(247, 247, 247);
    font-size: clamp(11.5px, 2.1vh, 2.5vh);
    font-weight: 700;
    border-radius: 8%;
    text-decoration: underline;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.title {
    height: clamp(11.5px, 2.3vh, 2.5vh);
width: clamp(65px, 22vw, 29vw);
    color: rgb(247, 247, 247); margin-top:clamp(3.5px, 0.3vh, 1.5vh);
    font-size: clamp(10.5px, 2.1vh, 2.5vh);
    font-weight: 600;
}
